fastapi
uvicorn
python-multipart
requests
pydantic
groq
gTTS
python-dotenv
numpy
motor
pymongo
certifi
dnspython
dropbox
ffmpeg-python
google-auth-oauthlib
google-api-python-client
google-auth
pytest
pytest-asyncio
hypothesis
